@media only screen and (max-width: 500px) {
    body {
      background-color: rgb(189, 204, 58);
    }
  }
  



body {background-color: rgb(237, 100, 230);}
.p1 {font-size: 300%;
     text-align: center;
     background-color: #deb887;
    border-color: black;
    border-width: 6px;
    border-style: groove;
    margin-left: 50%;
    margin-right: 25%;
}


.p2 {font-size: 200%;
     text-align: center;
     background-color: #f1673d;
    border-color: black;
    border-width: 6px;
    border-style: groove;
    margin-left: 20%;
    margin-right: 50%;
}

.p3 {font-size: 150%;
    text-align: center;
    background-color: #c0f03b;
   border-color: black;
   border-width: 6px;
   border-style: groove;
   margin-left: 10%;
   margin-right: 30%;  
}

.p4 {font-size: 100%;
    text-align: center;
    background-color: #bd3bf0;
   border-color: black;
   border-width: 6px;
   border-style: groove;
   margin-left: 40%;
   margin-right: 10%;
   
}